.u-section-1 .u-sheet-1 {
  min-height: 511px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 500px;
  width: 500px;
  margin: 6px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 340px;
    width: 340px;
  }
}