::-webkit-scrollbar {
    display: none;
}
.u-section-1 {
  min-height: 573px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 764px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-image-1 {
  width: 175px;
  height: 175px;
  animation-duration: 1000ms;
  margin: -692px auto 0;
}

.u-section-1 .u-image-2 {
  width: 159px;
  height: 175px;
  animation-duration: 10000ms;
  margin: -175px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1579px;
  }
}body{
  margin: 0;
  padding: 0;
  background: #8934EA;
}
.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60px;
  height: 60px;
}
.box{
  position: absolute;
  width: 40px;
  height: 40px;
  background: #8934EA;
}
.box:nth-child(1){
  animation: a1 2s infinite linear;
}
.box:nth-child(2){
  animation: a2 2s infinite linear;
}
@keyframes a1 {
  0%{
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
  }
  12.5%{
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
  }
  25%{
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
  }
  37.5%{
    top: 0;
    left: 30px;
    width: 30px;
    height: 30px;
  }
  50%{
    top: 0;
    left: 30px;
    width: 30px;
    height: 30px;
  }
  62.5%{
    top: 0;
    left: 30px;
    width: 30px;
    height: 60px;
  }
  75%{
    top: 0;
    left: 30px;
    width: 30px;
    height: 60px;
  }
  87.5%{
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
  }
  100%{
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
  }
}
@keyframes a2 {
  0%{
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
  }
  12.5%{
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
  }
  25%{
    right: 0;
    bottom: 0;
    width: 60px;
    height: 30px;
  }
  37.5%{
    right: 0;
    bottom: 0;
    width: 60px;
    height: 30px;
  }
  50%{
    right: 30px;
    bottom: 0;
    width: 30px;
    height: 30px;
  }
  62.5%{
    right: 30px;
    bottom: 0;
    width: 30px;
    height: 30px;
  }
  75%{
    right: 30px;
    bottom: 0;
    width: 30px;
    height: 60px;
  }
  87.5%{
    right: 30px;
    bottom: 0;
    width: 30px;
    height: 60px;
  }
  100%{
    right: 30px;
    bottom: 30px;
    width: 30px;
    height: 30px;
  }
} 